
@model MvcDemoApplication.web.Models.CategoryViewModel


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add/Manage Category</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>    
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
  
</head>
<body>
    <div> 
        @Html.Partial("header")
    </div>
    <hr/>
    <div style="margin-top:5%; margin-bottom:5%;">
        @using (Html.BeginForm("index","Category",FormMethod.Post))
        {
          <table>
            <tr>
                <td>@ViewBag.msg</td>
            </tr>
            <tr>
                <td>@Html.ActionLink("Add New","Index","Category")</td>
            </tr>
            <tr>
                <td>@Html.HiddenFor(x=>x.CategoryID)</td>
            </tr>
            <tr>
                <td>Category:</td>
            </tr>
            <tr>
                <td>@Html.TextBoxFor(x=>x.CategoryName)<br/>
                    @Html.ValidationMessageFor(x=>x.CategoryName)
                </td>
            </tr>
            <tr>
               <td><input type="submit" value="Add" /></td>
            </tr>
        </table>
        }
    </div>

    <div style="margin-bottom:10%;">
        @{Html.RenderAction("getCategorylist", "Category");}
    </div>
    <hr/>
    <div>
        @Html.Partial("footer")
    </div>
</body>
</html>
